body {
    margin: 0;
    padding-top: 65px;
}

/* ! Nav Icons start */

.NavIcons li {
    font-size: larger;
    font-weight: bold;
}

/* ! Nav Icons end */

/* ! Footer Start */

.footer {
    /* margin-top: 1px; */
    margin-bottom: 0;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2.5em;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
}

/* ! Footer end */

/* ! Login & Signin Style start */

.content {
    margin-top: 4cm;
    padding: 70px 0;
    min-height: 66vh;
}

#buser {
    /* margin-top: 4cm; */
    padding: 5px;
    background-color: cornflowerblue;
    color: white;
    font: bold 25px 'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;
    border: 2px solid cornflowerblue;
    border-radius: 10px;
    /* margin-left: 35%; */
    margin: auto;
    display: block;
}

#buser:hover {
    background-color: lawngreen;
    border: 2px solid lawngreen;
    transition: 0.5s ease-in-out;
    color: mintcream;
}

.ulogin {
    margin-top: -4cm;
    display: none;
    /* margin: 2.5em; */
    padding: 50px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    /* background-color: transparent; */
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.9),
        0 10px 50px 0 rgba(0, 0, 0, 0.9);
    /* margin-bottom: 85px; */
}

.uclose {
    font-weight: bold;
    font-size: 25px;
    float: right;
    cursor: pointer;
    /* position: absolute; */
    top: 50%;
    right: 0%;
    /* padding: 12px 16px; */
    transform: translate(0%, -50%);
}

.uclose:hover {
    color: red;
    transition: .2s ease-in-out;
    /* background: rgba(187, 187, 187, 0.637); */
}

#badmin {

    /* margin-top: 5px; */
    padding: 5px;
    background-color: cornflowerblue;
    color: white;
    font: bold 25px 'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;
    border: 2px solid cornflowerblue;
    border-radius: 10px;
    /* margin-left: 35%; */
    margin: auto;
    display: block;
}

#badmin:hover {
    background-color: lawngreen;
    border: 2px solid lawngreen;
    transition: 0.5s ease-in-out;
    color: mintcream;
}

.alogin {
    display: none;
    /* margin: 2.5em; */
    padding: 50px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    /* background-color: transparent; */
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.9),
        0 10px 50px 0 rgba(0, 0, 0, 0.9);
    /* margin-bottom: 85px; */
}

.aclose {
    font-weight: bold;
    font-size: 25px;
    float: right;
    cursor: pointer;
    /* position: absolute; */
    top: 50%;
    right: 0%;
    /* padding: 12px 16px; */
    transform: translate(0%, -50%);
}

.aclose:hover {
    color: red;
    transition: .2s ease-in-out;
    /* background: rgba(187, 187, 187, 0.637); */
}

.signup {
    margin-top: 150px;
    margin: 2.5em;
    padding: 50px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    /* background-color: transparent; */
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.9),
        0 10px 50px 0 rgba(0, 0, 0, 0.9);
}


.formhead h3 {
    /* Forgotten the password */

    text-align: center;
    margin-bottom: 25px;
}

#colRM {
    color: black;
}

#FTP {
    float: right;
    color: red;
    text-align-last: right;
}

#FTP:hover {
    text-decoration: none;
    transition: .5s ease-in-out;
}

#Log-In-Button {
    width: 100%;
}

.acc {
    font-size: large;
    text-align: center;
}

.acc p {
    color: black;
}

.acc a {
    text-decoration: none;
}

/* ! Login & Signin Style end */

/* ! Books Collection Start */

.bookscol {
    /* border: 5px sloid black; */
    margin: 10px;
    width: 99%;
    padding: 25px;
    background-color: rgb(185, 195, 204);
}

.bookscol h1 {
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

/* ! Books Collection Ends */


/* ! Books Update Start */

.bookupdate {
    margin: 10px;
    width: 99%;
    padding: 25px;
}

/* ! Books Update Ends */