<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>

    <link rel="icon" type="image/x-icon" href="images/logo 1.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <link rel="stylesheet" href="css/homestyle.css">
</head>

<body>

    <!-- ! Navbar Start -->

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #bec0c2;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="images/logo 2.png" width=" 175" height="40" class="d-inline-block align-text-top">
            </a>
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav NavIcons">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signin">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Log in</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- ! Navbar End -->

    <!-- ! Login Form Start -->

    <div class="login col-lg-4 formhead mx-auto">

        <h3>Log In to Books.com</h3>
        <br>

        <form action="/login/check" method="get" onsubmit="return validat();">

            <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" id="ebox" onkeyup="emailValidate()"
                    placeholder="Enter Your Email Id" name="EmailId" required>
                <label for="LName">Email Id</label>
                <p id="emailMessage"></p>
            </div>

            <div class="form-floating mb-3 mt-3">
                <input type="password" class="form-control" id="pwdbox" onkeyup="pwdValidate()"
                    placeholder="Enter a Password" name="Password" required>
                <label for="LName">Password</label>
                <p id="pwdMessage"></p>
            </div>

            <!-- <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="ebox" onkeyup="emailValidate()" required>
                    <p id="emailMessage"></p>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="pwdbox" onkeyup="pwdValidate()" required>
                    <p id="pwdMessage"></p>
                </div>
            </div> -->

            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1" id="colRM">
                            Remember Me
                        </label>
                        <a href="#" id="FTP">Forgotten the password?</a>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" id="Log-In-Button">Log in</button>
            <br>
            <br>
            <hr>
            <div class="acc">
                <p>Don't have an account? <a href="/signin">Sign up!</a></p>

            </div>

        </form>
    </div>

    <!-- ! Login Form Ends -->



    <!-- ! Footer Start -->

    <div class="footer">
        <h3>© Books.com 2022</h3>
    </div>

    <!-- ! Footer Start -->


    <script src="js/loginJS.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>